{{%/* see http://golang.org/pkg/html/template/ */%}}

{{%/* we can name parts of our templates to call them from somewhere else */%}}
{{% define "homePage" %}}

{{%/* loading the header template */%}}
{{% template "header" %}}
<body>
<h1 ng-controller="HomeCtrl">{{ title }}</h1>
<h2>{{% .Intro %}}</h2>
<div ng-controller="UserCtrl">
    <span></span>
    <form ng-submit="submit()">
        <input ng-model="user.username" type="text" name="user" placeholder="Username" />
        <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
</div>
<ul>
    {{% range .Messages %}}
    <li> {{% . %}} </li>
    {{% end %}}
</ul>
</body>
<script src="/js/angular.min.js"></script>
<script>
    angular.module('app', [])
            .controller('HomeCtrl', ['$scope', function HomeCtrl($scope) {
                $scope.title = "Hello from Angular";
            }]).
    controller('UserCtrl', function ($scope, $http, $window) {
        $scope.user = {username: 'john.doe', password: 'foobar'};
        $scope.message = '';
        $scope.submit = function () {
            $http
                    .post('/authenticate', $scope.user)
                    .success(function (data, status, headers, config) {
                        $window.sessionStorage.token = data.token;
                        $scope.message = 'Welcome';
                    })
                    .error(function (data, status, headers, config) {
                        // Erase the token if the user fails to log in
                        delete $window.sessionStorage.token;

                        // Handle login errors here
                        $scope.message = 'Error: Invalid user or password';
                    });
        };
    }).
    factory('authInterceptor', function ($rootScope, $q, $window) {
        return {
            request: function (config) {
                config.headers = config.headers || {};
                if ($window.sessionStorage.token) {
                    config.headers.Authorization = 'Bearer ' + $window.sessionStorage.token;
                }
                return config;
            },
            response: function (response) {
                if (response.status === 401) {
                    // handle the case where the user is not authenticated
                }
                return response || $q.when(response);
            }
        };
    }).
    config(function ($httpProvider) {
        $httpProvider.interceptors.push('authInterceptor');
    });
</script>
</html>

</html>
{{% end %}}